<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="./index.css">
    <link  rel="icon"   href="https://thumbs.dreamstime.com/z/cartoon-local-farmer-market-concept-vector-wooden-store-vegetables-smiling-cheerful-seller-man-woman-fresh-harvest-139504597.jpg" type="image/jpg" />
    <title>Market</title>
</head>
<body>

<div class="container py-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>MiniMarket</h3>
                </div>
                <div class="card-body">
                    <img src="https://i.pinimg.com/originals/51/43/7a/51437aa9c879fae0dacbd96b4a3c593f.png" alt="Logo Fast" class="card-img-top mx-auto m-2 rounded-circle w-50">
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Username" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                           <button class="btn btn-success btn-block"> Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>